// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
.img-feature {
    width: 73px;
    height: 73px;
    border-radius: 4px;
}

.all-feature {
    filter: opacity(0.3);
}

.price-feature {
    position: absolute;
    top: 50%;
    transform: translateX(35%) translateY(-50%);
}

.color-black-text {
color: #000;
}

.border-feature {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.feature-div {
    position: relative;
}