<form style="background-color: #ffffff">
  <div class="container">
    <div class="">
      <div>
        <h2 class="login-text text-center pt-5 text-dark">Register to bid</h2>
      </div>
    </div>

    <div class="">
        <div>
          <h4 class="login-text text-center py-3 text-dark">Credit Card Information</h4>
        </div>
      </div>

    <div class="card col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 rounded">
      <div class="card-body">

        <div class="row justify-content-between mb-3">
          <img src="../../assets/images/icons/mastercard.svg" alt="" />
          <div>
            <h6 class="card-title text-muted mb-0">Card Number</h6>
            <span class="font-weight-bold">xxxx xxxx xxxx 0456</span>
          </div>
        </div>

        <div class="row justify-content-between mb-3">
          <div>
            <h6 class="card-title text-muted mb-0">Date</h6>
            <span class="font-weight-bold">03/24</span>
          </div>
          <div>
            <h6 class="card-title text-muted mb-0">CCV</h6>
            <span class="font-weight-bold">xxx</span>
          </div>
        </div>

        <div class="row justify-content-between">
          <div>
            <h6 class="card-title text-muted mb-0">Name on card</h6>
            <span class="font-weight-bold">Jhon Doe A.</span>
          </div>
        </div>
        
    </div>
</div>

<div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 text-center mt-2 p-0 mb-5" >
    <label class="">Change your card in <a href="" class="text-primary"> <ins>settings</ins></a> if needed</label>
</div>

    <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 pl-0 px-3 mt-4 pb-5">
      <label class="font-weight-bold"
        >I UNDERSTAND THE FOLLOWING
        <a href="" class="text-primary">
          <ins>TERMS & CONDITIONS</ins></a
        ></label
      >
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label
          class="form-check-label"
          for="exampleCheck1"
          style="font-size: 14px"
          >WINNING BIDDER CREDIT CARD CHARGED AUTOMATICALLY.</label
        >
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label
          class="form-check-label"
          for="exampleCheck1"
          style="font-size: 14px"
        >
          ITEMS SOLD AS-IS AND MAY HAVE FLAWS OR DAMAGE.</label
        >
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label
          class="form-check-label"
          for="exampleCheck1"
          style="font-size: 14px"
          >ALL SALES ARE FINAL. NO REFUNDS ARE ACCEPTED.</label
        >
      </div>
      <button
        type="button"
        class="btn btn-primary btn-block mt-5 text-capitalize py-2"
        data-toggle="modal"
        data-target="#welcome"
      >
        REGISTER
      </button>
    </div>
  </div>
</form>
