<div class="bg-white px-5 py-4">
    <div class="container">
        <div class="row" >
                <div class="col-7">
                    <h4>Mid century modern for every room, designer linens, brand new mattresses, danish style, cabinets, vintage seating & more</h4>
                    <p>Solid Sideboards, Lucite Legged Chesterfield Sofa, Leather Pushback Recliner... 
                        <!-- <span>
                        , Top-Of-Line Vacuums, Velvet Side Chairs, Carson Carrington End Table,Leather Saddle Desk Chair, Vintage Wooden High Chair, Vera Wang Linens, Foam Mattresss Toppers, Hotel Colletction Bedding Sets, Outdoor Lighting, Luggage, Decorating Kits, Ice Cream Maeker ans more!</p>
            
                        </span> -->
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary">Join to Bid</button>
                </div>
                <div class="col-3 text-right">
                    <h3>Ends In</h3>
                    <span>1d 8h 17m 47s</span>
                    <p>Sun 17, Jan 2021 - 7 p.m. PT</p>
                </div>
        </div> 
        <div class="row" >
            <div class="col-9">
                <div class="d-inline-block me-auto mr-3">
                <img src="../../assets/images/icons/map-marker.svg">
                8535 Production Ave, San Diego, CA 92121
                </div>
                <a href="#" class="link-primary mr-3 text-danger">Auction terms</a>
                <a href="#" class="link-primary mr-auto text-danger">Bid Increments</a>
            </div>
            
            <div class="col-3 text-right">
                <a href="#" class="link-primary text-danger">Important dates</a>
            </div>
        </div>
            
    </div>

    
</div>
