<header class="bg-red">
    <nav class="navbar navbar-expand-lg navbar-dark container">

        <div class="row container-fluid">            

            <button class="navbar-toggler col-auto w-auto" type="button" data-target="menu" data-toggle="collapse" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-sm-3 order-md-1 w-auto">
                <span class="navbar-brand navbar-expand">
                  <img src="../../assets/images/logo.svg" width="120" height="50" class="d-inline-block align-top rounded" alt="Loveseat Logo">
                </span>
              </div>
               
              <div class="col-lg-3 col-md-3 col-sm-6 order-md-3 w-auto">
                <ul class="navbar-nav ml-auto flex-row d-flex justify-content-end">
                  <li class="nav-item mx-2">
                    <a href="#">
                      <img src="../../assets/images/icons/heart.svg">
                    </a>
                  </li>
                  <li class="nav-item mx-2">
                    <a href="#">
                      <img src="../../assets/images/icons/bell.svg">
                    </a>
                  </li>
                  <li class="nav-item mx-2">
                    <a href="#">
                      <img src="../../assets/images/icons/user.svg">
                    </a>
                  </li>
                </ul>
              </div>
              
              <div class="col-lg-6 col-md-5 col-sm-12 order-md-2">
                 <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
              </div>
            </div>

        </div>

        <div class="container-fluid row">

            <div class="col-3 text-white ">
              <img src="../../assets/images/icons/map-pin.svg">
              <p class="d-inline-block mb-0">
                San Diego
              </p>
              <img src="../../assets/images/icons/chevron-down.svg">
            </div>

            <div class="collapse navbar-collapse col-9" id="menu">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-white" href="#">Current Auction</a>
                    <a class="nav-item nav-link text-white" href="#">How It Works</a>
                    <a class="nav-item nav-link text-white" href="#">Newsletter</a>
                    <a class="nav-item nav-link text-white" href="#">Sell</a>
                </div>
            </div>

        </div>

      </nav>
</header>