<header class="bg-red">
  <div class="container m-auto">
    <nav class="navbar p-0 py-3">
      <div class="container-fluid row p-0 m-0">

        <div class="col-3">
          <span class="navbar-brand navbar-expand">
            <img src="../../assets/images/logo.svg" width="120" height="50" class="d-inline-block align-top rounded" alt="Loveseat Logo">
          </span>
        </div>
        
        <div class="col-6">
           <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
         
        <div class="col-3">
          <ul class="navbar-nav ml-auto flex-row d-flex justify-content-end">
            <li class="nav-item mx-2">
              <a href="#">
                <img src="../../assets/images/icons/heart.svg">
              </a>
            </li>
            <li class="nav-item mx-2">
              <a href="#">
                <img src="../../assets/images/icons/bell.svg">
              </a>
            </li>
            <li class="nav-item mx-2">
              <a href="#">
                <img src="../../assets/images/icons/user.svg">
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container-fluid row">
        <div class="col-3 text-white ">
          <img src="../../assets/images/icons/map-pin.svg">
          <p class="d-inline-block mb-0">
            San Diego
          </p>
          <img src="../../assets/images/icons/chevron-down.svg">
        </div>
        <div class="col-9">
          <ul class="navbar-nav ml-auto flex-row">
            <li class="nav-item mx-3">
              <a href="#" class="text-white">
                Current Auction
              </a>
            </li class="nav-item mx-3">
            <li>
              <a href="#" class="text-white">
                How It Works
              </a>
            </li>
            <li class="nav-item mx-3">
              <a href="#" class="text-white">
                Newsletter
              </a>
            </li>
            <li class="nav-item mx-3">
              <a href="#" class="text-white">
                Sell
              </a>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </div>
</header>
