<form>
  <div
    class="
      form-control
      d-flex
      flex-column
      align-items-center
      min-vh-100
      justify-content-center
    "
  >
    <h2 class="login-text text-center mb-5 text-dark">Log in</h2>
    <div class="form-group col-xl-5 col-lg-8 col-md-7">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control mb-3"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="example@email.com"
      />

    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
    />
    <button
      type="submit"
      class="btn btn-primary btn-block mt-5 text-capitalize py-2"
      data-toggle="modal" 
      data-target="#Welcome"
    >
    Log in
    </button>

    <div class="row mx-0 mt-3 justify-content-between">
      <p class="text-black-50 font-weight-bold">
        Need an account?
        <a class="text-decoration-none font-weight-bolder ml-1" href="./signup.html"> Sign Up</a>
      </p>
      <a class="text-decoration-none font-weight-bolder" href="./resetpassword.html"
        >Forgot your password?</a
      >
    </div>

  </div>
</form>
