<div class="container-fluid">
  <div class="shadow mt-5">
    <!-- container-nav -->
    <div class="justify-content-center">
      <ul
        class="nav nav-pills justify-content-center mb-3"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link bg-transparent text-muted"
            id="pills-purchases-tab"
            data-toggle="pill"
            href="#pills-purchases"
            role="tab"
            aria-controls="pills-purchases"
            aria-selected="false"
            >Purchases</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link bg-transparent text-muted"
            id="pills-favorites-tab"
            data-toggle="pill"
            href="#pills-favorites"
            role="tab"
            aria-controls="pills-favorites"
            aria-selected="false"
            >Favorites</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link bg-transparent text-muted"
            id="pills-alerts-tab"
            data-toggle="pill"
            href="#pills-alerts"
            role="tab"
            aria-controls="pills-alerts"
            aria-selected="false"
            >Alerts</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link bg-transparent text-muted"
            id="pills-settings-tab"
            data-toggle="pill"
            href="#pills-settings"
            role="tab"
            aria-controls="pills-settings"
            aria-selected="false"
            >Settings</a
          >
        </li>
      </ul>
    </div>
    <!-- fin-container-nav -->

    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active mx-5"
        id="pills-purchases"
        role="tabpanel"
        aria-labelledby="pills-purchases-tab"
      >
    
      <div class="ml-3" style="margin-top: 2rem;">
        <h3>Auction Purchases</h3> 
      </div>
      
        <div class="row text-center">
          <div class="card-body text-center mt-2">
            <div class="col-lg-3 col-md-5 col-sm-6 d-flex align-items-center">
            <h4>Item</h4>
          </div>
        </div>

          <div class="col-lg-9 col-md-7 col-sm-6">
            <div class="card-body mt-2">
              <div class="row justify-content-around mr-1">
                <span>Delivery</span>
                <span>Tax</span>
                <span>Order</span>
                <span>Price</span>
              </div>
            </div>
          </div>
        </div>

      
      ${ require('./product-card-purchases.html') }
      ${ require('./product-card-purchases.html') }
      ${ require('./product-card-purchases.html') }
      ${ require('./product-card-purchases.html') }
      ${ require('./product-card-purchases.html') }



      <nav aria-label="Page navigation example">
        <ul class="pagination my-5 justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo; Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next &raquo;</a>
          </li>
        </ul>
      </nav>

    </div>

      <div
        class="tab-pane fade mx-5"
        id="pills-favorites"
        role="tabpanel"
        aria-labelledby="pills-favorites-tab"
      >
        <div>
          <h3 class="title my-4" style="margin-left: 4rem">
            Favorites On Auction
          </h3>
        </div>

        <div class="row mx-5">
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
        </div>

        <div class="text-center">
          <button
            type="button"
            class="btn btn-outline-danger text-capitalize my-5"
          >
            Load More
          </button>
        </div>

        <div>
          <h3 class="title my-4" style="margin-left: 4rem">Sold Favorites</h3>
        </div>

        <div class="row mx-5">
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
            ${ require('./product-card-withoutcol.html') }
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade mx-5"
        id="pills-alerts"
        role="tabpanel"
        aria-labelledby="pills-alerts-tab"
        style="height: 100vh;"
      >
      <div class="container-fluid">
        <div class="row justify-content-between mx-1 my-5">
          <h3>Saved searches</h3>
          <button type="button" class="btn btn-danger">Create Alert</button>
        </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-5">
                <div class="card-body" style="height: 18rem; width: 36rem;">
                  <div class="row justify-content-between">
                    <div>
                      <h4>Type:</h4>
                      <h5 class="text-muted">beds / beds frame</h5>
                    </div>
                    <div>
                      <h4>Styles:</h4>
                      <span class="text-muted">---</span>
                    </div>
                    <div>
                      <h4>icons</h4>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>Keywords:</h4>
                      <h5 class="text-muted">Pink</h5>
                    </div>
                    <div>
                      <span></span>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>San Diego</h4>
                    </div>
                    <div>
                      <span class="text-muted">email off</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-5">
                <div class="card-body" style="height: 18rem; width: 36rem;">
                  <div class="row justify-content-between">
                    <div>
                      <h4>Type:</h4>
                      <h5 class="text-muted">beds / beds frame</h5>
                    </div>
                    <div>
                      <h4>Styles:</h4>
                      <span class="text-muted">---</span>
                    </div>
                    <div>
                      <h4>icons</h4>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>Keywords:</h4>
                      <h5 class="text-muted">Pink</h5>
                    </div>
                    <div>
                      <span></span>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>San Diego</h4>
                    </div>
                    <div>
                      <span class="text-muted">email off</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-5">
                <div class="card-body" style="height: 18rem; width: 36rem;">
                  <div class="row justify-content-between">
                    <div>
                      <h4>Type:</h4>
                      <h5 class="text-muted">beds / beds frame</h5>
                    </div>
                    <div>
                      <h4>Styles:</h4>
                      <span class="text-muted">---</span>
                    </div>
                    <div>
                      <h4>icons</h4>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>Keywords:</h4>
                      <h5 class="text-muted">Pink</h5>
                    </div>
                    <div>
                      <span></span>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>San Diego</h4>
                    </div>
                    <div>
                      <span class="text-muted">email off</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-5">
                <div class="card-body" style="height: 18rem; width: 36rem;">
                  <div class="row justify-content-between">
                    <div>
                      <h4>Type:</h4>
                      <h5 class="text-muted">beds / beds frame</h5>
                    </div>
                    <div>
                      <h4>Styles:</h4>
                      <span class="text-muted">---</span>
                    </div>
                    <div>
                      <h4>icons</h4>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>Keywords:</h4>
                      <h5 class="text-muted">Pink</h5>
                    </div>
                    <div>
                      <span></span>
                    </div>
                  </div>

                  <div class="row justify-content-between">
                    <div>
                      <h4>San Diego</h4>
                    </div>
                    <div>
                      <span class="text-muted">email off</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div
          class="tab-pane fade mx-5"
          id="pills-settings"
          role="tabpanel"
          aria-labelledby="pills-settings-tab"
          style="height: 100vh;"
        >
          <div class="row">
            <div class="form-group col-lg-6 mt-5">
              <label for="exampleInputEmail1">User Name</label>
              <input
                class="form-control mb-3"
                type="text"
                placeholder="Santiago"
                readonly
              />

              <label for="exampleInputPassword1">Email Adress</label>
              <input
                class="form-control mb-3"
                type="text"
                placeholder="example@email.com"
                readonly
              />

              <label for="exampleInputPassword1">Phone Number</label>
              <input
                class="form-control mb-3"
                type="text"
                placeholder="+542984897074"
                readonly
              />

              <div class="card my-5" style="height: 15rem">
                <div class="card-body">
                  <h3>Payment Methods</h3>
                  <h4 class="text-muted font-weight-light">
                    We do NOT store your credit card number or security code in
                    our system. We will automatically charge your card on file
                    for any winnings after the auction is over.
                  </h4>
                  <br />
                  <br />
                  <h4 class="text-muted font-weight-light">No cards saved.</h4>
                </div>
              </div>
            </div>


            <div class="form-group col-lg-6 mt-5">
              <label for="exampleInputEmail1">New Password</label>
              <input
                class="form-control mb-3"
                type="text"
                placeholder="*******"
                readonly
              />

              <label for="exampleInputPassword1">Confirm Password</label>
              <input
                class="form-control mb-3"
                type="text"
                placeholder="*******"
                readonly
              />

              <label for="exampleInputPassword1">Sellers Permit</label>
              <input
                class="form-control mb-3"
                type="text"
                placeholder="Sellers Permit"
                readonly
              />
              <button type="button" class="btn btn-danger">Create Alert</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
