<div class="card-body mb-3 border-0">
  <div class="row">
    <div class="col-lg-1 col-md-2 col-sm-3">
      <img
        src="../../assets/images/product-chair-68.png"
        alt="product-img-chair"
      />
    </div>

    <div
      class="col-lg-2 col-md-3 col-sm-3 text-center d-flex align-items-center"
    >
      <h5>Keegan fabric set of 2 orange dining chair</h5>
    </div>

    <div class="col-lg-9 col-md-7 col-sm-6">
      <div class="card-body">
        <div class="row justify-content-around">
          <span>$92</span>
          <span>$92,25</span>
          <span>ARO 233</span>
          <span>140</span>
        </div>
      </div>
    </div>
  </div>
</div>
