<div class="col-4 mb-3">

    <div class="card">
      <div class="card-image position-relative">
        <img src="../../assets/images/product.png" class="card-img-top">
        
        <div class="card-img-overlay">

          <div class="row align-items-center">
            <span class="badge mr-2">
              <img src="../../assets/images/icons/color.svg">
              Orange
            </span>
            <span class="badge">
              <img src="../../assets/images/icons/size.svg">
              King
            </span>
            <img src="../../assets/images/icons/Favorite.svg" class="ml-auto">
          </div>

          <div class="row position-absolute custom-badge">
            <span class="badge pb-1 px-2">
              <small>
                Overstock
              </small>
            </span>
          </div>
        </div>

      </div>
        

        

      <div class="card-body">

        <p class="card-title">
          Keegan fabric set of 2 orange dining chair
        </p>

        <a href="#" class="text-secondary">
          <img src="../../assets/images/icons/item-conditions/open-box.svg">
          Open Box
        </a>

        <div class="row my-2 align-items-center">
          <div class="col">
            <h3 class="d-inline-block">
              $95
            </h3>
            <a href="#" class=" card-link text-muted">
              <small>
                12 bids
              </small>
            </a>
            </div>
          
          <p class="text-muted col-auto mb-0">
            <small>
              1d 8h 47m
            </small>
          </p>
        </div>

        <form class="row">
          <div class="col">
            <input type="number" class="form-control" id="BidInput" placeholder="$97">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Bid</button>
          </div>
        </form>

        <div class="row align-items-center mt-2">
          <img src="../../assets/images/icons/warning.svg" class="col-auto pr-0 d-inline-block ">
          <p class="text-muted d-inline-block col fs-6 mb-0 pl-1"><small>Enter max bid of  $97 or more.</small></p>
        </div>

      </div>

    </div>

</div>