<div class="card-body mb-3 border-0">
  <div class="row">
    
    <div class="row col-lg-4 col-md-5 col-sm-6 col-xs-6 mr-1">
      <div>
          <img
            src="../../assets/images/product-chair-68.png"
            alt="product-img-chair"
          />  
      </div>
      <div class="text-center d-flex align-items-lg-center align-items-md-center align-items-sm-center col-xs-6 ml-1 ml-md-3">
        <div class="d-flex flex-column">
            <h5 style="font-weight: 500;">Keegan fabric set of 2 <br> orange dining chair</h5>
          <div class="row ml-1 justify-content-between">
            <span class="d-block d-sm-none font-weight-bolder">$140</span>
            <u class="d-block d-sm-none line mr-3" href="">Show More</u>
          </div>
        </div>

      </div>
    </div>


    <div class="col-lg-8 col-md-7 col-sm-6">
      <div class="card-body">
        <div class="row justify-content-around ml-md-1">
          <span class="d-none d-sm-block" style="font-weight: 500;">$92</span>
          <span class="d-none d-sm-block" style="font-weight: 500;">$92,25</span>
          <span class="d-none d-sm-block" style="font-weight: 500;">ARO 233</span>
          <span class="d-none d-sm-block" style="font-weight: 500;">$140</span>
        </div>
      </div>
    </div>
  </div>
</div>
