<form style="background-color: #ffffff;">
  <div class="container">

    <div class="">
      <div>
        <h2 class="login-text text-center pt-5 text-dark" >Register to bid</h2>
      </div>
      <div class="d-xl-flex rounded px-3 py-3" style="background-color: #F7F7F7;">
        <p class="font-weight-bolder mr-2 mb-0">Credit Card Information</p><p class="text-muted mb-0">A $0.50 authorization may be placed on your card, which will disappear in 3-5 business days. No cards saved.</p> 
      </div>
    </div>

    <div class="form-group mt-4 px-3">
      <label for="exampleInputEmail1" class="font-weight-bold">Payment Details</label>
      <input
        type="cardholder"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Cardholder Name"
      />
    </div>

    <div class="input-group mb-3 px-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-transparent" id="basic-addon1"><img src="../../assets/images/icons/creditcard.svg" alt=""></span>
      </div>
      <input type="text" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX                                                                                                                                                                   MM / YY    CVC" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <label for="exampleInputEmail1" class="font-weight-bold mt-3 px-3">Billing Address</label>
    <div class="d-flex px-3">
      <div class="form-group col-xl-6 pl-0">
        <label for="exampleInputEmail1">Street Address 1</label>
        <input
          type=""
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>

      <div class="form-group col-xl-6 pr-0">
        <label for="exampleInputEmail1">City</label>
        <input
          type=""
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>

    <div class="d-flex px-3 mb-3">
      <div class="form-group col-xl-6 pl-0">
        <label for="exampleInputEmail1">State</label>
        <input
          type=""
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>

      <div class="form-group col-xl-6 pr-0">
        <label for="exampleInputEmail1">ZIP Code</label>
        <input
          type=""
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
    </div>

    <a href="./creditcard-settings.html"class="text-primary font-weight-bold px-3"><ins>Have a California Sellers Permit ?</ins></a>

    <div class="col-xl-7 pl-0 px-3 mt-4">
      <label class="font-weight-bold">I UNDERSTAND THE FOLLOWING <a href="" class="text-primary"> <ins>TERMS & CONDITIONS</ins></a></label>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1" style="font-size: 14px;"
          >WINNING BIDDER CREDIT CARD CHARGED AUTOMATICALLY.</label
        >
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1" style="font-size: 14px">
          ITEMS SOLD AS-IS AND MAY HAVE FLAWS OR DAMAGE.</label
        >
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1" style="font-size: 14px"
          >ALL SALES ARE FINAL. NO REFUNDS ARE ACCEPTED.</label
        >
      </div>
      <button
      type="button"
      class="btn btn-primary btn-block mt-5 text-capitalize py-2"
      data-toggle="modal" data-target="#welcome"
    >
    REGISTER
    </button>

    <div class="row mx-0 mt-2 justify-content-between pb-5">
      <p class="text-black-50 font-weight-bold">
        Need an account?
        <a class="text-decoration-none font-weight-bold ml-1" href="./signup.html"> Sign Up</a>
      </p>
      <a class="text-decoration-none font-weight-bold" href="./resetpassword.html"
        >Forgot your password?</a
      >
    </div>
  </div>
</form>

