<form>
    <div
      class="
        form-control
        d-flex
        flex-column
        align-items-center
        min-vh-100
        justify-content-center
      "
    >
    <div class="form-group col-xl-5 col-lg-8 col-md-7"
>        <h2 class="login-text mb-3 text-dark">Reset Password</h2>
        
        <div class="row mx-0 mt-3 justify-content-between">
            <p class="text-black-50 font-weight-bold">
                We'll email you a link to reset your password.
            </p>
        </div>

        <label class="email mt-5" for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control mb-3"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="email@gmail.com"
        />

        <button
        type="submit"
        class="btn btn-primary btn-block mt-5 text-capitalize py-2"
      >
      Sign Up
      </button>
    </div>
  </form>
  