<div class="container-fluid p-0">
  <!-- <img src="../../assets/images/sandiego.png" class="card-img-top" /> -->

  <div class="image-hero d-flex justify-content-center align-items-start" 
  style="background-image: url('https://img.xshoppy.shop/uploader/ecaf44ba9d5dfde49f5c5c7c1f69ef6f.png?x-oss-process=image/blur,r_10,s_10'); background-size: cover;">
    <div class="flex-column text-center p-lg-5 p-2 mt-5 rounded" style="background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(3px)">
      <h1 class="title">San Diego Online Furniture Auction</h1>
      <div class="d-flex justify-content-center px-3">
        <img src="../../assets/images/gps3.svg" alt="">
        <h3 class="title1 mb-0 ml-1">Located at 8535 Production Ave San Diego, CA 92121</h3>
      </div>
  </div>

</div>

  <!-- start container -->
  <div class="container main p-lg-3" style="margin-top: -25vh;">
    <div class="d-lg-flex mx-2 mx-lg-4 py-3">
      <div class="col-lg-9 py-3">
        <h3 class="text-uppercase font-weight-light" style="font-size: 18px;">ends in<span class="font-weight-bold" style="color: #ED412C; font-size: 18px;"> 1D 8H 17M 47S</span></h3>
        <h3>
          Mid century modern for every room, designer linens, brand new
          mattresses, danish style, cabinets, vintage seating & more
        </h3>
      </div>
      <!-- <div class="col-lg-3">
        <button type="button" class="btn btn-primary">
          <a
            href="../sandiego-home.html"
            class="text-decoration-none"
            style="color: #ffffff"
            >View Auction</a
          >
        </button>
      </div> -->

      <div
      class="
        col-lg-3
        d-flex
        flex-column
        align-items-center
        justify-content-center
        py-3
      "
    >
      <button type="button" class="btn btn-primary px-4 py-2 text-capitalize">
       <a style="color: #ffffff" class="text-decoration-none" href="../sandiego-home.html">View Auction</a> 
      </button>
    </div>

    </div>

    <div>
      <h3
        class="title my-4 ml-4 ml-lg-5 ml-md-4 ml-sm-4"
        style="font-weight: 400; font-size: 24px"
      >
        Our Favorites
      </h3>
    </div>

    <div class="row mx-2 mx-lg-4">
      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/cuadro.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$12</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img src="../../assets/images/icons/Favorite.svg" class="ml-auto"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/mueble.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$47</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/lampara.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$120</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/silla.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$5</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3
        class="title my-4 ml-4 ml-lg-5 ml-md-4 ml-sm-4"
        style="font-weight: 400; font-size: 24px"
      >
        Most Bids
      </h3>
    </div>

    <div class="row mx-2 mx-lg-4">
      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/sillonmarron.png" class="card-img-top"/>
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$12</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/product.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$47</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/mesa.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$120</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/sillon.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$5</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3
        class="title my-4 ml-4 ml-lg-5 ml-md-4 ml-sm-4"
        style="font-weight: 400; font-size: 24px"
      >
        Most Hearts
      </h3>
    </div>

    <div class="row mx-2 mx-lg-4">
      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/mueble.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$12</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/lampara.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$47</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/escritorio.png" class="card-img-top"/>
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$120</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img src="../../assets/images/icons/Favorite.svg" class="ml-auto"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-6 mb-4">
        <div class="card">
          <!-- TOP -->
          <div class="card-image position-relative">
            <img src="../../assets/images/product.png" class="card-img-top" />
            <div class="row align-items-center custom-overlay-position2">
              <span style="background-color: #F7F7F7; backdrop-filter: blur(10px); padding: 2px 12px 2px 12px; border-radius: 4px;">$5</span>
            </div>
            <div class="row align-items-center custom-overlay-position">
              <img
                src="../../assets/images/icons/Favorite.svg"
                class="ml-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="text-center">
      <button
        type="button"
        class="btn btn-outline-danger text-capitalize my-3"
        style="font-weight: 700; font-size: 14px; border: 2px solid #ed412c"
      >
        View All items
      </button>
    </div>
  </div>
  <!-- end container -->

  <!-- start how it works -->
  <div class="container-fluid my-5" style="background-color: #ffffff">
    <div class="container mt-4 d-flex p-lg-3">
      <div class="row">
        <div
          class="
            col-12
            d-flex
            flex-column
            align-items-center
            justify-content-center
            py-5
          "
        >
          <h1>How It Works</h1>
          <h4 class="text-muted mt-4">
            You can buy furniture at incredible prices in Loveseat in just 3
            steps
          </h4>
        </div>

        <div class="row p-3">
          <div class="col-lg-4 col-md-4">
            <img src="../../assets/images/outline-tv-Illustrations.svg" alt=""/>
            <h3 class="text-muted mt-4">1. Browse our catalog</h3>
            <p class="text-muted">
              Thousands of listings are added to Loveseat on a weekly basis.
              Loveseat carries everything from furniture & decor to appliances
              and fashion.
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img src="../../assets/images/outline-form-Illustrations.svg" alt=""/>
            <h3 class="text-muted mt-4">2. Bid for bargains</h3>
            <p class="text-muted">
              You can bid any time during the week whether it's the moment the
              auction goes live or the minute it ends. We'll always alert you if
              you are outbid.
            </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <img
              src="../../assets/images/outline-home-Illustrations.svg"
              alt=""
            />
            <h3 class="text-muted mt-4">3. Collect your winnings</h3>
            <p class="text-muted">
              Pick up your item on the removal date or coordinate delivery to
              your home. All items are sold AS IS, WHERE IS and there are NO
              refunds or returns.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end how it works -->

  <!-- start facts to know-->
  <div class="container-fluid py-5">
    <div class="container mt-4 flex-column">
      <div class="d-flex">
        <h2>Facts to know</h2>
        <h4
          class="d-flex align-items-center text-uppercase ml-3"
          style="color: #ed412c"
        >
          view faq
        </h4>
      </div>

      <div class="row my-5">
        <div class="col-lg-6 col-md-6">
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">Most auctions start at $10</p>
          </div>
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">
              Prices increase by our bid increments as bids are placed
            </p>
          </div>
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">
              We’ll notify you via text and/or email if you’ve been outbid
            </p>
          </div>
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">
              Credit cards are charged automatically for any winnings at the end
              of the auction
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">Items are sold AS IS and there are NO REFUNDS</p>
          </div>
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">A 15% Buyer’s Premium applies to all sales</p>
          </div>
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">
              You must retrieve your item on the auction removal date
            </p>
          </div>
          <div class="d-flex align-items-baseline">
            <img src="../../assets/images/arrow.svg" alt="" />
            <p class="ml-3">
              We collet Sales Tax unless you provide a valid California Resale
              License
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end facts to know-->

  <div class="container">
    <hr />
  </div>

  <!-- start our location-->
  <div class="container mt-4 d-lg-flex d-md-flex py-5">
    <div class="my-5 col-lg-6 col-md-6">
      <div>
        <h2>Our Location</h2>
      </div>

      <div class="py-3">
        <div class="d-flex align-items-baseline">
          <img src="../../assets/images/gps2.svg" alt="" />
          <div class="d-flex flex-column">
            <p class="ml-3 font-weight-bold">Loveseat San Diego Warehouse</p>
            <p class="ml-3" style="color: #ed412c">
              8535 Production Ave San Diego, CA 92121
            </p>
          </div>
        </div>

        <div class="d-flex align-items-baseline">
          <img src="../../assets/images/comentario.svg" alt="" />
          <div class="d-flex flex-column">
            <p class="ml-3 font-weight-bold">Contact Our Team</p>
            <p class="ml-3">
              Let us know if we can help!
              <a class="text-decoration-none" style="color: #ed412c" href=""
                >Submit a Request</a
              >
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
        <!-- <div class="d-flex mb-1">
          <img class="img-fluid" src="../../assets/images/gps.png" alt="" />
        </div> -->

        <!--Google map-->

          <div id="map-container-google-2" class="z-depth-1-half map-container-2" style="height: 500px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.633591751423!2d-117.1671214844378!3d32.881412685961465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80deaaeaca0c482f%3A0x362fbf84d8b4c4e4!2sLoveseat.com%20Online%20Furniture%20Auction%20San%20Diego!5e0!3m2!1ses!2sar!4v1626237916231!5m2!1ses!2sar" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
        <!--Google Maps-->

        <div class="d-flex" style="gap: 2%;">
          <div>
          <img class="img-fluid" src="../../assets/images/store2.png" alt="">
        </div>
        <div>
          <img class="img-fluid" src="../../assets/images/store1.png" alt="">
        </div>
    </div>


    </div>

    </div>
  </div>
  <!-- end our location-->

  <!-- start sell furniture-->
  <div class="container-fluid py-5" style="background-color: #ffffff">
    <div class="container mt-4 d-flex p-lg-3">
      <div class="row">
        <div
          class="
            col-12
            d-flex
            flex-column
            align-items-center
            justify-content-center
            py-5
          "
        >
          <h1>Sell Furniture</h1>
          <h4 class="text-muted mt-4">
            We liquidate furniture throughout all of San Diego country
          </h4>
        </div>

        <div class="row p-3">
          <div class="col-lg-2">
            <div class="d-flex justify-content-center">
              <img src="../../assets/images/monitor.svg" alt="" />
            </div>
            <div>
              <h3 class="text-muted text-center mt-4">Fill out our quick & easy form</h3>
            </div>
          </div>

          <div class="col-lg-3 mt-lg-5 pt-lg-3 text-center">
            <img class="" src="../../assets/images/rayas.svg" alt="" />
          </div>

          <div class="col-lg-2">
            <div class="d-flex justify-content-center">
              <img src="../../assets/images/truck.svg" alt="" />
            </div>
            <div>
              <h3 class="text-muted text-center mt-4">We’ll pick it up or you can drop off</h3>
            </div>
          </div>

          <div class="col-lg-3 mt-lg-5 pt-lg-3 text-center">
            <img src="../../assets/images/rayas.svg" alt=""/>
          </div>

          <div class="col-lg-2">
            <div class="d-flex justify-content-center">
              <img src="../../assets/images/money.svg" alt="" />
            </div>
            <div>
              <h3 class="text-muted text-center mt-4">Get paid within 2 weeks</h3>
            </div>
        </div>

        <div
          class="
            col-12
            d-flex
            flex-column
            align-items-center
            justify-content-center
            py-5
          "
        >
          <button type="button" class="btn btn-primary px-5 py-2 text-capitalize">
            Start Selling
          </button>
        </div>
      </div>
    </div>

    <!-- end our location-->
  </div>
</div>
