// -----------------------------------------------------------------------------
// Default theme
// -----------------------------------------------------------------------------

$danger: #ED412C;


.bg-red {
    background-color: #ED412C;
    .a{
        color: white;
    }
}

// FONT

body{
    font-family: "inter", sans-serif;
}

.display-title{
    font-size: 1.75rem;
}


h6, h5, h4, h3, h2, h1 {
    font-weight: bold;
}

@media (max-width: 767.98px) {
    .h4-responsive{
        font-size: 1rem;
    }
    .display-title{
        font-size: 1rem;
    }
 }

@media (max-width: 991.98px) {
    .h4-responsive{
        font-size: 1.125rem;
    }
    .display-title{
        font-size: 1.125rem;
    }
    .p-responsive{
        font-size: 0.875rem;
    }
}
@media (min-width: 992px) {
    .h4-responsive{
        font-size: 1.25rem;
    }

}
.underline {
    text-decoration: underline;
}

.text-max-width-50{
    max-width: 16rem;
}

// CONTAINERS
.container {
    margin: 0rem auto;
}

// BADGE
.badge{
    background: rgba(0,0,0,0.4);
    color: white;
    border: 1px solid #989898;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.price-badge{
    background: rgba(247, 247, 247, 0.75);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    margin: 0;
    p{
        font-weight: 600;
        font-size: 1rem;
    
    }
}

.custom-badge{
    bottom: -10px;
    span {
        background: white;
        border: 1px solid #E5E5E5;
        border-radius: 18px;
        color: #0078D6;
        text-decoration: underline;
    }
}

// FILTERS
.filters-group{
    margin-bottom: 2rem;
    .form-check{
        margin: 10px 0;
    }
}

// CARDS
.card{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;

    input{
        font-size: 0.9rem;
        padding: 5px 16px;
        background: #F7F7F7;
        border-radius: 4px;
        border: none;
    }
}
.card-style{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
.card-img-overlay{
    left: 0;
}
.border-radius-4{
    border-radius: 4px;
}

// BUTTONS
.btn {
    padding: 5px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight:500;
    font-size: 0.9rem;

}
.btn-outline {
    border-width: 2px;
}
.search-bar{
    background: #FFFFFF;
    border-radius: 4px;
    input{
        border: none;
        border-radius: 4px 0 0 4px;
        border-right: 1px solid #E6E6E6;
    }
    button{

    }
}
// Pagination
.page-link{
    background:none;
    border: none;
    color: black;
}
.page-link:hover{
    background: #FFEBE9;
    border: none;
    color: #ED412C;
    border-radius: 2px;
}

// FOOTER
.navbar-dark .navbar-toggler {
    color: white;
    border: none;
}

.footer {
    background-color: black;
}

// OTHERS

.custom-divider::after {
    content: "";
    border-top: 1px solid white;
    position: absolute;
}


// MEDIA QUERIES

@media screen and (max-width: 575px) {
    .responsive-img{
        max-height: 4rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 767.98px) {
    .responsive-img{
        max-width: 100%;
    }
    .icon-responsive{
        max-height: 24px;
    }
    .hide-mobile{
        display: none;
    }
}

@media (max-width: 991.98px) {
    .hide-tablet-mobile{
        display: none;
    }

}
@media (min-width: 768px) {
    .hide-desktop-tablet{
        display: none;
    }
}
@media (min-width: 992px) {
    .hide-desktop{
        display: none;
    }
}
